
<!DOCTYPE html>
<html>
<head>
    <title>Prijava</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body >
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Prijava</h3>
				<h6>Unesite vas privatni-casovi.net email</h6>
			</div>
			<div class="card-body">
				<form action="https://privatni-casovi-scraper.herokuapp.com/login" method="POST">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope-open"></i></span>
						</div>
						<input type="email" name="email" class="form-control" placeholder="email">
					</div>
					<div class="form-group">
						<input type="submit" value="Login"  class="btn float-right login_btn">
					</div>
				</form>
			</div>
		</div>
	</div>
    <div id="result"></div>
</div>
<script>
    $("#login").click(function(){
        _username = $('#username').val();
        _password = $('#password').val();
      $.post("https://privatni-casovi-scraper.herokuapp.com/login",
      {
        username: _username,
        password: _password
      });
     
    });
</script>
</body>
</html>